<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fanwe.lib.xianliao">

    <application>
        <activity
            android:name="${applicationId}.sgapi.SGEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait">

            <!--用于接收从闲聊邀请跳转进应用的roomId roomToken-->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--scheme = "paraches" 固定不能改变，host = "xianliao"+ 你申请的appId-->
                <data
                    android:host="@string/sg_auth_scheme"
                    android:scheme="paraches" />

            </intent-filter>
        </activity>
    </application>
</manifest>